<!DOCTYPE html>
<html ng-app="carousel.demo">

<head>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link href="/fonts/font-awesome.min.css" rel="stylesheet">

    <!-- CSS Files -->
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/css/paper-dashboard.css?v=2.0.1" rel="stylesheet" />



    <script src="/Chart.min.js"></script>
    <script src="/angular-chart.min.js"></script>
    <script src="/angular-animate.js"></script>

    <script src="/js/angular.min.js"></script>

    <!--link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.css"-->



    <script src="/ngViewGarden.js"></script>
    <!-- Modal -->
    <script src="/ui-bootstrap-tpls-2.5.0.js"></script>
    <link href="/css/bootstrap.css" rel="stylesheet" />
    <!-- Custom style-->
    <link href="/css/style.css" rel="stylesheet" />



</head>

<body>
<h1>Carousel Demo</h1>
<div ng-controller="CarouselDemoCtrl" class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="thumbnail">
                <a href="/w3images/lights.jpg" target="_blank">
                    <img src="/img/gardens/1.jpg" alt="Lights" style="width:100%">
                    <div class="caption">
                        <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                <a href="/w3images/nature.jpg" target="_blank">
                    <img src="/img/gardens/2.jpg" alt="Nature" style="width:100%">
                    <div class="caption">
                        <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                <a href="/w3images/fjords.jpg" target="_blank">
                    <img src="/img/gardens/3.jpg" alt="Fjords" style="width:100%">
                    <div class="caption">
                        <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                <a href="/img/gardens/4.jpg" target="_blank">
                    <img src="/img/gardens/4.jpg" alt="Fjords" style="width:100%">
                    <div class="caption">
                        <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
</body>

</html>
