a {
  cursor: pointer;
}

.modal-csm{
   width:500px;
}

.modal-cmd{
   width:700px;
}

.modal-clg{
   width:900px;
}

.modal-xlg{
   width:1200px;
}

textarea.form-control{
    max-height: 300px;
}

/* Rating star */
.my-custom-stars .button .material-icons {
  font-size: 50px;
}

.my-custom-stars .star-button.star-on .material-icons {
  color: #003399;
}

.my-custom-stars .star-button.star-off .material-icons {
  color: #99ccff;
}